table {
  width: 90%;
}
.btn-primary {
    color: #fff;
    background-color: #067ecf;
    border-color: #067ecf;
}
.heading{
  color: #067ecf;
  font-weight: 600;
}

.btnCss {
  padding: 10px;
  border: 1px;
  background: #067ecf !important;
  color: white !important;
  font-size: 15px;
  width: 180px;
}